:root {
  --branding-color: #38598b;
  --default-font-family: "Nunito";
  --secondary-color: #113f67;
  --light-color: #e7eaf6;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  font-family: var(--default-font-family);
}

h1 {
  font-size: 64px;
  color: var(--secondary-color);
}

.introduction {
  background-color: var(--light-color);
  text-align: center;
  padding: 160px 20px;
}

.introduction p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: var(--secondary-color);
  margin: 0;
}

.introduction h2 {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--light-color);
  line-height: 27px;
  padding: 12px 20px;
}
