:root {
  --branding-color: #38598b;
  --default-font-family: "Nunito";
  --secondary-color: #113f67;
  --light-color: #e7eaf6;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  font-family: var(--default-font-family);
}

h1 {
  font-size: 64px;
  color: var(--secondary-color);
}

p {
  font-weight: normal;
  font-size: 16px;
  font-family: var(--default-font-family);
  color: var(--branding-color);
}

.introduction {
  background-color: var(--light-color);
  text-align: center;
  padding: 120px 10px;
}

.introduction p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: var(--secondary-color);
  margin: 0;
}

.introduction h2 {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
}

.btn-branding {
  text-decoration: none;
  text-transform: none;
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--light-color);
  line-height: 27px;
  padding: 12px 20px;
  cursor: pointer;
}
.about-project {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--secondary-color);
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}

.about-text {
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 18px;
  line-height: 2;
  color: var(--branding-color);
  line-height: 1.5;
}

.project-description {
  padding: 120 60px;
}

.social-link a {
  text-decoration: none;
  margin: 0 30px;
  color: var(--secondary-color);
  background: var(--light-color);
  padding: 15px 18px;
  border-radius: 50px;
  font-size: 20px;
}

.email-link a {
  text-decoration: none;
  font-family: var(--default-font-family);
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
  cursor: pointer;
}

/* .closing {
  background-color: var(--light-color);
  text-align: center;
  padding: 1px 5px;
} */

.open-source p {
  text-decoration: none;
  line-height: 1.5;
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 18.5px;
  color: #38598b;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}
