:root {
  --branding-color: #38598b;
  --default-font-family: "Nunito";
  --secondary-color: #113f67;
  --light-color: #e7eaf6;
  --highlighting-color: #a08da5;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  font-family: var(--default-font-family);
}

h1 {
  font-size: 64px;
  color: var(--secondary-color);
}

p {
  font-weight: normal;
  font-size: 16px;
  font-family: var(--default-font-family);
  color: var(--branding-color);
}

a,
href {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: 300;
  text-decoration: none;
  background-color: transparent;
}

.introduction {
  background-color: var(--light-color);
  text-align: center;
  padding: 120px 10px;
}

.introduction p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: var(--secondary-color);
  margin: 0;
}

.introduction h2 {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
}

.contact {
  background-color: var(--light-color);
  text-align: center;
  padding: 80px 20px;
}

.contact h2 {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
}

.btn-branding {
  text-decoration: none;
  text-transform: none;
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--light-color);
  line-height: 27px;
  padding: 12px 20px;
  cursor: pointer;
}

.btn-branding:hover {
  color: var(--highlighting-color);
}
.about-project {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
  padding: 20px 20px;
}

.about-section {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
  padding: 90px 10px;
}

.about-section h1 {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 2;
  color: var(--secondary-color);
}

.about-section h2 {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: var(--secondary-color);
  margin: 0;
}

.about-section p {
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
  line-height: 1.5;
}

.btn-branding-outline {
  text-decoration: none;
  text-transform: none;
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--light-color);
  line-height: 27px;
  padding: 12px 20px;
  cursor: pointer;
}

.btn-branding-outline:hover {
  color: var(--highlighting-color);
}

.about-text {
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 18.5px;
  line-height: 2;
  color: var(--branding-color);
  line-height: 1.5;
}

.project-description {
  padding: 120 60px;
}

.social-link a {
  text-decoration: none;
  margin: 0 30px;
  color: var(--secondary-color);
  background: var(--light-color);
  padding: 15px 18px;
  border-radius: 50px;
  font-size: 20px;
}

.social-icon {
  text-decoration: none;
  color: var(--secondary-color);
  background: var(--light-color);
  font-size: 20px;
}

.email-link a {
  text-decoration: none;
  font-family: var(--default-font-family);
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
  cursor: pointer;
}

.open-source {
  text-decoration: none;
  line-height: 1.5;
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 16px;
  color: var(--branding-color);
}

.open-source p {
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 16px;
  line-height: 2;
  color: var(--branding-color);
  line-height: 2;
}

.info-section {
  background-color: var(--light-color);
  text-align: center;
  padding: 60px 10px;
}

.info-section h2 {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  color: var(--branding-color);
}

.info-section p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--secondary-color);
  margin: 0;
}

.card-button {
  text-align: center;
}

/* .box-shadow {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
} */

.navbar-light .navbar-nav .nav-link {
  color: var(--branding-color);
  font-family: var(--default-font-family);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #a08da5;
}

.navbar-light.navbar-brand {
  font-family: var(--default-font-family);
  color: var(--branding-color);
}

.bg-light {
  background-color: white !important;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section img {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .about-section {
    text-align: center;
    padding: 0;
  }
}
